
<div class = "site-footer">
 <div class="wrapper">
    <div class="three-section-layout-f">
    <!-- Section 1 -->
    <section class="column">
      <a href="{{site.baseurl}}/index">
      <img class="footer-logo" src="{{site.baseurl}}/assets/images/emblem with name.png"
           alt="FCCLA Logo with the words Kentucky FCCLA"
         >
      </a>
    </section>

    <!-- Section 2 -->
    <section class="column">
      <div class ="email">
        <a href="{{site.baseurl}}/contact">
          <img src ="{{site.baseurl}}/assets/images/emaillogo.png" 
          alt="Email Icon" class = "footer-social">
        </a>
        <a href="{{site.baseurl}}/contact">
          <h2>Contact Us</h2>
        </a>
      </div>
    </section>

  <!-- Section 3 -->
    <section class="column">
      <div class="socials">
        <a href="https://www.tiktok.com/@yettefccla?_r=1&_t=ZP-931IJExCFyB"
        target="_blank">
          <img src="{{site.baseurl}}/assets/images/tiktoklogo.png"
         alt="TikTok Logo"class ="footer-social">
        </a>
        <a href="https://www.instagram.com/yettefccla?igsh=
        MXFuMWI1YWpzcXgwbw%3D%3D&utm_-source=qr" target="_blank">
          <img src="{{site.baseurl}}/assets/images/Instagram_Glyph_Gradient.png"
         alt="Instagram Logo" class ="footer-social">
        </a>
      </div>
    </section>
    </div>

  <p><a href="https://lafayette-fccla.com/">Lafayette FCCLA Chapter Website</a> © 2026 by Evelyn Ellingsworth</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/nd.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"></p>
</div>
</div>